* { margin: 0; padding: 0; }
html {
	background-image: url(../img/page-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}
body {
}
#about {
	position: absolute;
	left: 0;
	top: 0;
	width: 200px;
	background-color: #ffff00;
	color: #0000ff;
	font-family: cursive;
	padding: 0 1em 1em 1em;
}
#bar {
	list-style: none;
	/* 
		- rounded corners
		- translucency
	*/
	background-color: #000000;
	color: #ff00ff;
}
#bar > li {
	float: right;
}

#lifestream {
	width: 720px;
	margin: 0 auto;
	padding: 1em;
	background-color: rgba(0,0,0,0);
	color: #aaaaaa;
}
#lifestream  a {
	color: #ffa500;
	text-decoration: none;
}
#lifestream a:hover {
	text-decoration: underline;
}
#lifestream a:visited {
	color: #d67600;
}
#lifestream a:active {
	color: #ffff00;
}
#lifestream > ul {
	list-style: none;
}
#lifestream li {
	padding: 5px 3px 5px 25px;
   background-repeat: no-repeat;
   background-position: left center;
}