* { margin: 0; padding: 0; }
html {
	background-image: url(../img/page-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}
body {
}
#about {
	/*position: absolute;*/
	width: 200px;
	background-color: #ffff00;
	color: #0000ff;
	font-family: cursive;
	padding: 0 1em 1em 1em;
}
#lifestream {
	width: 720px;
	margin: 0 auto;
	padding: 1em;
	background-color: rgba(0,0,0,0);
	color: #ffffff;
}

